.custom-page-header {
  height: 800px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('custom-page/image-intro/2560x800/Intro_Custom_2560x800.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.custom-page-header-content {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateX(-50%) translateY(-50%);
}

.custom-header-title {
  font-size: 4em;
}
.featured-product {
  margin-top: 1em;
  height: 400px;
  width: auto;
}

.featured-product-featured {
  margin-top: 1em;
  height: 400px;
  width: auto;
}
.custom-header-text-box {
  background-color: #000000;
}

.custom-text-box {
  font-size: 1.3em;
  font-weight: 300;
  color: #FFFFFF;
  margin-top: 2.3em;
  margin-bottom: 2.3em;
  text-align: center;
  line-height: 1.7;
}
.single-item {
  width:350px;
  height: auto;
  margin-left: -20px;
}
.custom-product-frame {
  background-color: #FFFFFF;

}
.jersey-title {
  font-style: italic;
  font-weight: bold;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 350px) {
  .custom-product-frame {
    background-color: #FFFFFF;
    height:38em;
  }
  .single-item {
    width:110%;
    margin-left: 0;
  }
}
@media only screen and (min-device-width : 350px) and (max-device-width : 480px) {
  .custom-product-frame {
    background-color: #FFFFFF;
  }
  .single-item {
    width:60%;
        margin-left: 0;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .custom-product-frame {
    background-color: #FFFFFF;
    height:70em;
  }
  .single-item {
    width:60%;
        margin-left: 0;
  }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1025px) {
  .custom-product-frame {
    background-color: #FFFFFF;
    height:90em;
  }
}
@media only screen and (min-device-width : 1025px) and (max-device-width : 1200px) {
  .custom-product-frame {
    background-color: #FFFFFF;
    height:42em;
  }
}
@media only screen and (min-device-width : 1600px) and (max-device-width : 1800px) {
  .custom-product-frame {
    background-color: #FFFFFF;
    height:50em;
  }
}
@media only screen and (min-device-width : 1800px) and (max-device-width : 2200px) {
  .custom-product-frame {
    background-color: #FFFFFF;

  }
}
@media only screen and (min-device-width : 2200px) and (max-device-width : 2400px) {
  .custom-product-frame {
    background-color: #FFFFFF;

  }
}
@media only screen and (min-device-width : 2400px) and (max-device-width : 2600px) {
  .custom-product-frame {
    background-color: #FFFFFF;

  }
}
.product-frame-title {
  color: #000000;
  text-align: center;
  margin-top: .5em;
  font-size: 4em;
  font-size: 3.5em;
}

.product-box-menu-title {
  color: #000000;
  margin-right: 35px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif !important;
}

.product-box-menu-title:hover {
  color: #ff671f;
  background-color: transparent;
}

li.active h1 {
  color: #ff671f !important;
  background-color: transparent !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

ul.product-box-menu-list {
  display: block;
  text-align: center;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ul.product-box-menu-list li {
  display: inline-block;
}

.featured-product {
  margin-top: 1em;
  height: 400px;
  width: auto;
}

.product-link {
  text-align: center;
  margin-bottom: 3em;
  margin-top: 2em;
}

.view-product {
  font-size: .75em;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid;
  border-color: #000000;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.view-product:hover {
  color: #000000;
}

.featured-product-box {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

li.active h1 {
  background-color: #ff671f;
  color: #FFFFFF;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
}

.featured-product-box img:hover {
  opacity: .8;
}

@media only screen and (min-width:320px) and (max-width:480px){
  .custom-page-header {
    height: 320px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('custom-page/image-intro/400x320/Intro_Custom_400x320.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .custom-page-header-content {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateX(-50%) translateY(-50%);
  }
  .custom-header-title {
    font-size: 2em;
  }
  .featured-product {
    margin-top: 1em;
    height: 200px;
    width: auto;
  }

  .featured-product-featured {
    margin-top: 1em;
    height: 200px;
    width: auto;
  }
  .product-box-menu-title {
    margin-right: 0;
  }
}
/*.fade {
   opacity: 0;
   -webkit-transition: opacity 1s linear;
      -moz-transition: opacity 1s linear;
       -ms-transition: opacity 1s linear;
        -o-transition: opacity 1s linear;
           transition: opacity 1s linear;
 }*/
.tab-content>.tab-pane:not(.in) {
    display:block !important;
    height:0 !important;
  }
