/* Masonry */

.grid-links {
  color: #ffffff;
}

.grid-links:hover {
  color: #FFFFFF;
}


.text-grid-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.grid-text {
  font-size: 6em;
}

.grid-top-left-custom {
  height: 900px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('custom-page/bouton-custom-process/854x900/CustomProcess_854x900.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-top-left-custom:hover {
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("custom-page/bouton-custom-process/854x900/CustomProcess_854x900.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 900px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.grid-top-right-custom {
  background-image: url('custom-page/bouton-get-a-quote/1706x450/GetAQuote_1706x450.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-top-right-custom:hover {
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url('custom-page/bouton-get-a-quote/1706x450/GetAQuote_1706x450.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-bottom-right-custom {
  background-image: url('custom-page/bouton-faqs/854x450/FAQs_854x450.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-bottom-right-custom:hover {
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("custom-page/bouton-faqs/854x450/FAQs_854x450.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-bottom-left-custom {
  background-image: url('custom-page/bouton-case-studies/854x450/CaseStudies_854x450.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-bottom-left-custom:hover {
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("custom-page/bouton-case-studies/854x450/CaseStudies_854x450.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .grid-top-left-custom {
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('custom-page/bouton-custom-process/400x250/CustomProcess_400x250.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-top-left-custom:hover {
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('custom-page/bouton-custom-process/400x250/CustomProcess_400x250.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-top-right-custom {
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('custom-page/bouton-get-a-quote/400x250/GetAQuote_400x250.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-top-right-custom:hover {
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('custom-page/bouton-get-a-quote/400x250/GetAQuote_400x250.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-bottom-left-custom {
    background-image: url('custom-page/bouton-case-studies/400x250/CaseStudies_400x250.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-bottom-left-custom:hover {
  background-image: url('custom-page/bouton-case-studies/400x250/CaseStudies_400x250.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 250px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  .grid-bottom-right-custom {
    background-image: url('custom-page/bouton-faqs/400x250/FAQs_400x250.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-bottom-right-custom:hover {
    background-image: url('custom-page/bouton-faqs/400x250/FAQs_400x250.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.grid-text {
  font-size: 6em;
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .grid-text {
    font-size: 4em;
}
.grid-top-left-custom {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('custom-page/bouton-custom-process/800x450/CustomProcess_800x450.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.grid-top-left-custom:hover {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('custom-page/bouton-custom-process/800x450/CustomProcess_800x450');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.grid-top-right-custom {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('custom-page/bouton-get-a-quote/800x450/GetAQuote_800x450.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.grid-top-right-custom:hover {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('custom-page/bouton-get-a-quote/800x450/GetAQuote_800x450.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.grid-bottom-left-custom {
  background-image: url('custom-page/bouton-case-studies/800x450/CaseStudies_800x450.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.grid-bottom-left-custom:hover {
background-image: url('custom-page/bouton-case-studies/800x450/CaseStudies_800x450.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
height: 450px;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.grid-bottom-right-custom {
  background-image: url('custom-page/bouton-faqs/800x450/FAQs_800x450.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.grid-bottom-right-custom:hover {
  background-image: url('custom-page/bouton-faqs/800x450/FAQs_800x450.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}
@media only screen and (min-width : 1024px) and (max-width : 1025px) {
    .grid-top-left-custom {
      height: 900px;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url('custom-page/bouton-custom-process/854x900/CustomProcess_854x900.jpg');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
    .grid-top-left-custom:hover {
      height: 900px;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url('custom-page/bouton-custom-process/854x900/CustomProcess_854x900.jpg.jpg');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  .grid-top-right-custom {
    height: 450px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('custom-page/bouton-get-a-quote/800x450/GetAQuote_800x450.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-top-right-custom:hover {
    height: 450px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('custom-page/bouton-get-a-quote/800x450/GetAQuote_800x450.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-bottom-left-custom {
    background-image: url('custom-page/bouton-case-studies/800x450/CaseStudies_800x450.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 450px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-bottom-left-custom:hover {
    background-image: url('custom-page/bouton-case-studies/800x450/CaseStudies_800x450.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 450px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-bottom-right-custom {
    background-image: url('custom-page/bouton-faqs/800x450/FAQs_800x450.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 450px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-bottom-right-custom:hover {
    background-image: url('custom-page/bouton-faqs/800x450/FAQs_800x450.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 450px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-text {
    font-size: 6em;
  }
  }
