.custom-process-bg {
  background-color: #ff671f;
}

.custom-panel-title {

    background: linear-gradient(
                     rgba(20,20,20, .9),
                     rgba(20,20,20, .9)),
                     url("custom-process-title-background.jpg");
    background-position: center;
    height: 200px;
    width: 100%;
    color: #ff671f;
    opacity: 1;
}
.custom-panel-title:active {
    background: linear-gradient(
                     rgba(20,20,20, 0),
                     rgba(20,20,20, 0)),
                     url("custom-process-title-background.jpg");
                     background-position: center;
}
.custom-panel-title:hover {
    background: linear-gradient(
                     rgba(20,20,20, 0),
                     rgba(20,20,20, 0)),
                     url("custom-process-title-background.jpg");
                     background-position: center;
}
.custom-title-text{

}
.title-text {
  color: #FFFFFF;
  font-size: 4em;
  border-style: none;
  font-family: TradeGothic;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.custom-text-box{
  background-color: #ff671f;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}
