.custom-process-bg {
  background-color: #ff671f;
}
.custom-process-header{
  background-image: url("custom-process-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  height: 800px;
  width: 100%;
}
.custom-process-header-title{
  position: absolute;
  left:60%;
  top:30%;
  font-size: 6em;
}
 @media all and (max-width: 400px) {
   .custom-process-header-title{
     position: absolute;
     left:30%;
     top:30%;
     font-size: 2px;
   }
 }
.custom-process-header-box{
  background-color: #000000;
}
.custom-process-header-box-text {
  color: #FFFFFF;
  text-align: center;
  font-size: 2em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-weight: 300;
  font-size: 1.5em;
  }
.custom-panel-title {

    background: linear-gradient(
                     rgba(20,20,20, .9),
                     rgba(20,20,20, .9)),
                     url("custom-process-title-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    height: 200px;
    width: 100%;
    color: #ff671f;
    opacity: 1;
}
div[aria-expanded=true] .custom-panel-title {
    background: linear-gradient(
                     rgba(20,20,20, 0),
                     rgba(20,20,20, 0)),
                     url("custom-process-title-background.jpg");
                     background-position: center;
}
.custom-panel-title:active {
    background: linear-gradient(
                     rgba(20,20,20, 0),
                     rgba(20,20,20, 0)),
                     url("custom-process-title-background.jpg");
                     background-position: center;
}
.custom-panel-title:hover {
    background: linear-gradient(
                     rgba(20,20,20, 0),
                     rgba(20,20,20, 0)),
                     url("custom-process-title-background.jpg");
                     background-position: center;
                     -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.custom-panel-on {
  background: linear-gradient(
                   rgba(20,20,20, 0),
                   rgba(20,20,20, 0)),
                   url("custom-process-title-background.jpg");
                   background-position: center;
                   -webkit-background-size: cover !important;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 200px;
width: 100%;
color: #ff671f;
opacity: 1;
}
.custom-title-text{

}
.title-text {
  color: #FFFFFF;
  font-size: 4em;
  border-style: none;
  font-family: 'TradeGothicLTS';
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.custom-text-box{
  font-family: Montserrat, sans-serif;
  background-color: #ff671f;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.3em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-weight: 300;
  font-size: 1.5em;
}
