/* Masonry */

.grid-links {
  color: #ffffff;
}

.grid-links:hover {
  color: #000000;
}

.grid-top-left {
  height: 370px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('Shop.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-top-left:hover {
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("Shop.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 370px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-grid-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.grid-text {
  font-size: 8em;
}

@media all and (max-width: 400px) {
  .grid-text {
    font-size: 4em;
  }
}

.grid-top-right {
  background-image: url('Custom.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  height: 370px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-top-right:hover {
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("Custom.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 370px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-bottom-right {
  background-image: url('About.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  height: 370px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-bottom-right:hover {
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("About.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 370px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-bottom-left {
  background-image: url('Studio.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 370px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-bottom-left:hover {
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("Studio.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 370px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
