/* Masonry */

.grid-links {
  color: #ffffff;
}

.grid-links:hover {
  color: #FFFFFF;
}


.text-grid-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.grid-text {
  font-size: 6em;
}

@media all and (max-width: 400px) {
  .grid-text {
    font-size: 4em;
  }
}

.grid-top-left {
  height: 900px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('Shop.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-top-left:hover {
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("Shop.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 900px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.grid-top-right {
  background-image: url('Custom.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-top-right:hover {
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("Custom.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-bottom-right {
  background-image: url('About.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-bottom-right:hover {
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("About.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-bottom-left {
  background-image: url('Studio.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-bottom-left:hover {
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("Studio.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media all and (max-width: 300px) {
  .grid-top-left {
    height: 250px;
}
  .grid-top-left:hover {
  height: 250px;
}
.grid-top-right {
  height: 250px;
}
.grid-top-right:hover {
height: 250px;
}
.grid-bottom-left {
  height: 250px;
}
.grid-bottom-left:hover {
height: 250px;
}
.grid-bottom-right {
  height: 250px;
}
.grid-bottom-right:hover {
height: 250px;
}
.grid-text {
  font-size: 6em;
}
}
  @media all and (max-width: 660px) {
    .grid-top-left {
      height: 250px;
  }
    .grid-top-left:hover {
    height: 250px;
  }
  .grid-top-right {
    height: 250px;
  }
  .grid-top-right:hover {
  height: 250px;
  }
  .grid-bottom-left {
    height: 250px;
  }
  .grid-bottom-left:hover {
  height: 250px;
  }
  .grid-bottom-right {
    height: 250px;
  }
  .grid-bottom-right:hover {
  height: 250px;
  }
  .grid-text {
    font-size: 6em;
  }
  }
