/* LARGE MENU */

.menu-format {
  padding-top: 12px;
  padding-bottom: 12px;
}

.menu-format ul, .menu-format li {
  list-style-type: none;
  display: inline;
  float: right;
}

.menu-logo {
  height: 35px;
}
.menu-mover {

}
.menu-link {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  right: 35px;
  font-size: .9em;
  font-weight: normal;
  padding-right: 2.6em;
  float: right;
}

.menu-link:hover {
  color: #888B8D;
  background-color: #000000;
}

.menu-link:focus {
  color: #888B8D;
}
/*SMALL MENU */

.menu-small {
  display: none;
}

@media all and (max-width: 850px) {
  .main-menu {
    display: none;
  }
  .menu-small {
    display: block;
  }
  .menu-small-button {
    height: 15px;
  }
  .menu-button-container {
    position: absolute;
    margin: 0 auto;
    margin-left: 1em;
  }
  .menu-button {
    height: 10px;
    left: 1.5em;
    top: 1.5em;
  }
  .menu-small-logo {
    height: 1.8em;
    display: block;
    margin: 0 auto;
  }
  .menu-header-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .menu-list-small {
    display: block;
    text-align: center;
  }
  .menu-link-small {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
  }
  .menu-link-small:hover {
    color: #888B8D;
  }
  .menu-small ul {
    margin: 0;
    padding: 15px 0px;
  }
  .menu-small li {
    list-style-type: none;
    padding: 15px 0px;
  }
}
