.privacy-main p {
  font-weight: 300;
}
.privacy-main h1 {
     font-family: 'TradeGothicLTS';
     font-style: italic;
     font-size: 3.5em;
     color: #000000;
}
.privacy-main {
  background-color: #FFFFFF;
  padding-top: 5em !important;
  padding-bottom: 5em !important;
}
