.white-feature {
background-color: #FFFFFF;
height: 600px;
}
.white-feature h1 {
  color: #000000;
}
.white-feature p {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}
/*.white-feature img {
  height:300px;
}*/
.btnNext {
  height:20px;
  position: absolute;
  top: 50%;
  right: 5%;
}
.btPrevious {
  height:20px;
  position: absolute;
  top: 50%;
  right: 85%;
}
.product-features {
  height: 30px;
}
.item-preview{
  height: 20px;
  position: relative;
  float: left;
}
.item-focus{
  height: 100px;
}
.nav-buttons {
  height: 30px;
}
