.white-feature {
background-color: #FFFFFF;
height: 600px;
}
.white-feature h1 {
  color: #000000;
}
.white-feature p {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}
.gall-content img{
  height: 300px;
}
