 @font-face {
   font-family: TradeGothic;
   src: url('TradeGothicLTS.otf');
 }

 @font-face {
   font-family: TradeGothic;
   font-weight: bold;
   src: url('TradeGothicLTS.otf');
 }

 .preload-images {
   display: none;
   width: 0;
   height: 0;
   background: url(cross.svg);
 }

 body {
   background-color: #000000;
   overflow-x: hidden;
 }

 a {
   text-decoration: none !important;
 }

 h1 {
   color: #FFFFFF;
   font-size: 1.5em;
   text-align: left;
   font-family: TradeGothic;
 }

 h2 {
   color: #FFFFFF;
   font-size: 1em;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   line-height: 200%;
 }

 h4 {
   font-size: 6em;
   font-family: TradeGothic;
   color: #FFFFFF;
 }

 .nopadding {
   padding: 0 !important;
   margin: 0 !important;
 }

 /* CAROUSEL V2 */
 .slide {
   position: relative;
 }
 .slide__caption {
  bottom: 0;
  min-height: 80px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.text-overlay-left {
  position: absolute;
  top:15%;
  left: 10%;
}
.text-overlay-right {
  position: absolute;
  top:15%;
  left: 65%;
}
.slider-text-titles {
  font-size: 6em;

}
 .slick-slider {
   position: relative;
   width: 100%;
   display: block;
 }

 .slick-active {
   color: #FFFFFF;
 }

 .carousel-picture {
   width: 100%;
   height: auto;
 }
 @media all and (max-width: 400px) {
   .slider-text-titles{
     font-size: 2em;
   }
   .slick-next{
     visibility: hidden;
   }
   .slick-prev{
     visibility: hidden;
   }
   .slick-dots{
     visibility: hidden;
   }
   .carousel-picture {
     width: auto;
     height: 80%;
   }

 }
  @media all and (max-width: 660px) {
    .slider-text-titles{
      font-size: 4em;
    }
    .slick-next{
      visibility: hidden;
    }
    .slick-prev{
      visibility: hidden;
    }
    .slick-dots{
      visibility: hidden;
    }
    .carousel-picture {
      width: auto;
      height: 80%;
    }
  }
 @media all and (max-width: 980px) {
   .slider-text-titles{
     font-size: 5em;
   }
   .slick-next{
     visibility: hidden;
   }
   .slick-prev{
     visibility: hidden;
   }
   .slick-dots{
     visibility: hidden;
   }
   .carousel-picture {
     width: auto;
     height: 80%;
   }
 }

 .carousel-link {
   font-size: 1em;
   padding-left: 25px;
   padding-right: 25px;
   padding-top: 8px;
   padding-bottom: 8px;
   border: 2px solid;
   border-color: #FFFFFF;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
 }
.carousel-link:hover {
  color: #FFFFFF;
}
/** ABOUT CSS **/

 .about-header-image {
   position: relative;
   width: 100%;
   height: auto;
 }

 .about-header-text, h4 {
   font-size: 2.6em;
   top: 30%;
   left: 15%;
   position: absolute;
 }

 .about-footer-image {
   width: 100%;
   height: auto;
 }

 .about-header-content {
   font-size: 2em;
   color: #FFFFFF;
   margin-top: 4em;
   margin-bottom: 4em;
 }

 .video-container {
   background-color: #FFFFFF;
 }

 .milltag-origin {
   font-size: 7em;
 }

 .milltag-origin-text {
   font-size: 2em;
   color: #FFFFFF;
 }

 .milltag-origin-box {
   margin-top: 4em;
   margin-bottom: 4em;
 }

 .portrait-box {
   background-color: #FFFFFF;
 }

 .team-title {
   color: #000000;
   font-size: 4em;
 }

 .portrait-text {
   margin-top: 1em;
   font-weight: 600;
   color: #000000;
 }

 .team-email {
   color: #ff671f;
 }

 .portrait-image {
   width: 100%;
   height: auto;
 }

 @media all and (max-width: 980px) {
   .about-header-text, h4 {
     font-size: 2em;
     top: 30%;
     left: 15%;
     position: absolute;
   }
   .about-header-content {
     font-size: 1.5em;
     color: #FFFFFF;
     margin-top: 2em;
     margin-bottom: 2em;
   }
   .milltag-origin {
     font-size: 4em;
   }
   .milltag-origin-box {
     margin-top: 2em;
     margin-bottom: 2em;
   }
   .milltag-origin-text {
     font-size: 1.5em;
     color: #FFFFFF;
   }
 }

 @media all and (max-width: 660px) {
   .about-header-text, h4 {
     font-size: 1.5em;
     top: 30%;
     left: 15%;
     position: absolute;
   }
 }

 @media all and (max-width: 400px) {
   .about-header-text, h4 {
     font-size: 1em;
     top: 30%;
     left: 15%;
     position: absolute;
   }
   .about-header-content {
     font-size: 1em;
     color: #FFFFFF;
     margin-top: 2em;
     margin-bottom: 2em;
   }
   .milltag-origin {
     font-size: 2em;
   }
   .milltag-origin-box {
     margin-top: 2em;
     margin-bottom: 2em;
   }
   .milltag-origin-text {
     font-size: 1em;
     color: #FFFFFF;
   }
 }
