 @font-face { font-family: TradeGothic; src: url('TradeGothicLTS.otf'); }
 @font-face { font-family: TradeGothic; font-weight: bold; src: url('TradeGothicLTS.otf');}
body {
	background-color: #000000;
}
a {
	text-decoration: none !important;
}
h1 {
	color: #FFFFFF;
	font-size: 1.5em;
	text-align: center;
	font-family: TradeGothic;
}

h2 {
	color: #FFFFFF;
	font-size: 1em;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
  line-height: 200%;
}
ul {

}

nav.navbar-inverse>li>a {
 padding-top: 25px;
 padding-bottom: 25px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
/* MENU */
.logo-position {
	margin-right: 3em;
	padding-left: 1em;
}
.main-menu-container {
}
.navbar {
    margin-bottom: 0;
}
.navbar-custom {
    background-color:#000000;
    color:#FFFFFF;
    border-radius:0;
    font-family: 'Montserrat', sans-serif;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #888B8D;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #FFFFFF;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}


/* CAROUSEL */
.carousel-content-left {
	position: absolute;
	bottom: 32%;
	left: 15%;
	z-index: 20;
	color: #FFFFFF;
}
.carousel-content-right {
	position: absolute;
	bottom: 32%;
	left: 65%;
  text-align: right;
	z-index: 20;
	color: #FFFFFF;
}
h4 {
	font-size: 6em;
	font-family: TradeGothic;
	color: #FFFFFF;
}
.carousel-indicators{
  font-size: 4em;
  font-weight: bold;
}
.link-box {
	font-size: 1em;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: 2px solid;
	border-color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}


.carousel-control > img{
    position: absolute;
    /*set position of image from top to be 50%...*/
    top: 50%;
    /*and then shift it down to make it perfectly center.*/
    transform: translate(-50%, -50%);

    z-index: 5;
    display: inline-block;
}

/* Masonry */
.mozaic-gallery {
	display: inline-block;
	margin-bottom: 0px !important;
	padding-bottom: 0px;
}
.image-left-top {
  height:100%;
}
.image-left-bottom {
    height:100%;
}
.image-right-top {
    height:100%;
  }
.image-right-bottom {
    height:100%;
  }
.image-text-container{
}
/* FOOTER CSS */


/* JOIN MILLTAG FOOTER */
.join-milltag-list {
  text-align: center;
}

.milltag-join-button {
	background-color: #ff671f;
	color: #FFFFFF;
	font-size: 1.6em;
	border-style: none;
	font-family: TradeGothic;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 10px;
}
.milltag-join-email {
	background-color: #d9d9d6;
	border-style: none;
	font-size: 1.6em;
	font-family: TradeGothic;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	margin-right: 10px;
	margin-left: 30px;
}
.join-milltag-box {
	background-color: #FFFFFF;
	padding-bottom: 1em;
	padding-top: 0.5em;
}
h3 {
	color: #000000;
	font-family: TradeGothic;
	font-size: 2em;
}


/* BOTTOM FOOTER LINKS */
h1.footer-title {
  color:#FFFFFF;
}
.footer-links {
	color: #888B8D;
	text-decoration: none;
  padding-bottom: 2em;
  margin-top: 20px;
}
.footer-links:hover {
	color: #FFFFFF !important;
	text-decoration: none !important;
}
.footer-links:focus {
	color: #FFFFFF !important;
	text-decoration: none !important;
}
.social-media-bar {
	list-style-type: none;
	float: none;
	text-align: center;
	margin: 0;
	padding: 0;
}
.social-media-icons {
	text-align: center;
	padding-right: 0.5em;
	display: inline;
}
.social-media-links {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #888B8D;
	font-size: 2em;
	display: inline-block;
}
.social-media-links:focus {
	color: #FFFFFF
	text-decoration: none !important;
}
.social-media-links:hover {
	color: #FFFFFF;
	text-decoration: none !important;
}
.address-link {
  color: #888B8D;
}
