@charset 'UTF-8';

/* CAROUSEL V2 */
.carousel-picture-link{

}
.carousel-link {
  font-size: 1em;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid;
  border-color: #FFFFFF;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.carousel-link:hover {
 color: #FFFFFF;
}
.carousel-link:visited {
  color: #FFFFFF;
}
.slide {
  position: relative;
}

.slide__caption {
 bottom: 0;
 left: 0;
 position: absolute;
 width: 100%;
}
.text-overlay-left {
 top:20%;
 left: 10%;

}
.text-overlay-right {
 top:20%;
 left: 35%;
}
.slider-text-titles {
 font-size: 8em;

}
.slick-slider {
width: 100%;

}

.slick-active {
  color: #FFFFFF;
}

.carousel-picture {
  width: 100%;
  height: auto;
}

@media all and (max-width: 400px) {
  .slider-text-titles{
    font-size: 2em;
  }

  .carousel-picture {
    width: auto;
    height: auto;
  }
  .carousel-link {
    font-size: .6em;
  }
  .text-overlay-right {
    position: absolute;
    top:35%;
    left: 45%;
  }

}
 @media all and (max-width: 660px) {
   .slider-text-titles{
     font-size: 2em;
   }

   .carousel-picture {
     width: auto;
     height: auto;
   }
   .carousel-link {
     font-size: .7em;
   }
   .text-overlay-left {
    position: absolute;
    top:38%;
    left: 5%;
  }
   .text-overlay-right {
     position: absolute;
     top:35%;
     left: 55%;
   }
 }
@media all and (max-width: 980px) {
  .slider-text-titles{
    font-size: 2em;
  }
  .slick-next{
    visibility: hidden;
  }
  .slick-prev{
    visibility: hidden;
  }
  .slick-dots{
    visibility: hidden;
  }
  .carousel-picture {
    width: auto;
    height: 450px;
    min-width: 300px
  }
  .carousel-link {
    font-size: .7em;
  }
}
@media all and (min-width: 2000px) {
  .text-overlay-left {
   position: absolute;
   top: 36%;
   left: 10%;

  }
  .text-overlay-right {
   position: absolute;
   top:36%;
   left: 78%;
  }
}

@media all and (min-width: 2500px) {
  .text-overlay-left {
   position: absolute;
   top: 30%;
   left: 10%;

  }
  .text-overlay-right {
   position: absolute;
  top: 30%;
   left: 70%;
  }
}
/* Slider */

.slick-loading .slick-list {
  background: #fff url('./ajax-loader.gif') center center no-repeat;
}


/* Icons */


/* Arrows */

.slick-prev {
  content: "";
  background: transparent;
  background: url('arrow_left_before.svg') no-repeat;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 20;
  color: transparent;
  border-style: none;
  height: 85px;
  width: 30px;
}
.slick-prev:hover {
  background: url('arrow_left.svg') no-repeat;
}
.slick-next {
  background: transparent;
  background: url('arrow_right_before.svg') no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 20;
  color: transparent;
  border-style: none;
  height: 85px;
  width: 30px;
}
.slick-next:hover {
  background: url('arrow_right.svg') no-repeat;
}
.slick-dots {
  position: absolute;
  bottom: 2%;
  left: 50%;
  padding: 0;
  transform: translateX(-50%) translateY(-50%);

}
.slider-buttons-dots{
  height: .5em;
  display: inline;
}
.slider-buttons-dots:hover{
  content: url('cercle.svg');
}
.slider-buttons-dots::after{
  content: url('cercle.svg');
}
.slider-buttons-dots:active{
  content: url('cercle.svg');
}
.slick-dots li.slick-active button:before {
  content: url('cercle.svg');
}
.slider-buttons-dots::before{
  content: url('cercle.svg');
}

.slick-dots li {
  display: inline;
  margin-right: 10px;
  padding: 0;
}
