#map {
 height: 800px;
 width: 100%;
}
#map-distro {
  height: 600px;
  width: 100%;
}
input, textarea {
  border-style: solid;
  border-color: #888B8D;
  border-width: thin;

}
input:focus, textarea:focus {
  border-color: #ff671f;
  border-style: solid;
  border-width: thin;
  outline: 1px solid #888B8D;

}
.contact-main p {
  font-weight: 300;
}
.contact-main {
  background-color: #FFFFFF;
  padding-top: 5em !important;
  padding-bottom: 5em !important;
}
.detail-entry {
  width: 100%;
}
.message-entry {
  width: 100%;
  height: 25em;
}
.submit-message-button{
  background-color: #000000;
  color: #FFFFFF;
  font-size: 1em;
  border-style: none;
  font-family: Montserrat, sans-serif;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 3px;
}
.email-address{
  color: #ff671f
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .detail-entry {
    width: 18em;
  }
  .message-entry {
    width: 18em;
    height: 15em;
  }
}
.partners {
  text-align: center;
}
.partners h6 {
  font-weight: bold;
}
