.custom-process-bg {
  background-color: #ff671f;
}

.custom-header-image {
  height: 800px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../img/custom-process/image-intro/2560x800/Intro_Custom_Process_2560x800.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.custom-header-text {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateX(-50%) translateY(-50%);
}

.custom-title-text {
  font-family: 'TradeGothicLTS' !important;
  font-size: 4.5em;
        width: 100%;
}

.custom-process-header-box {
  background-color: #000000;
}


}
.open-close-arrow {
  height: 150px;
  /*float: right;
  position: relative;
  top: 28%;*/

}
.open-close-arrow img {
  height: 150px;
  width: auto;
  position: relative;
  bottom: 330px;
}

.custom-panel-sizer{
  height: 450px;

  color: #ff671f;
  line-height: 450px;
text-align: center;
  }
  .custom-panel-contact {
  background: linear-gradient( rgba(20, 20, 20, .6), rgba(20, 20, 20, .6)), url("../img/custom-process/1-contact/1706x450/Contact_us_1706x450.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div[aria-expanded=true] .custom-panel-contact {
  background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0));
  background-position: center;
}

.custom-panel-contact:active {
  background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)) ;
  background-position: center;
}

.custom-panel-contact:hover {
  background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)), url("../img/custom-process/1-contact/1706x450/Contact_us_1706x450.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.custom-contact-on {
  background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)), url("../img/custom-process/1-contact/1706x450/Contact_us_1706x450.jpg");
  background-position: center;
  -webkit-background-size: cover !important;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.custom-panel-samples {
background: linear-gradient( rgba(20, 20, 20, .6), rgba(20, 20, 20, .6)), url("../img/custom-process/2-samples/1706x450/Samples_1706x450.jpg");
background-position: center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

div[aria-expanded=true] .custom-panel-samples {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0));
background-position: center;
}

.custom-panel-samples:active {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)) ;
background-position: center;
}

.custom-panel-samples:hover {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)), url("../img/custom-process/2-samples/1706x450/Samples_1706x450.jpg");
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.custom-samples-on {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)), url("../img/custom-process/2-samples/1706x450/Samples_1706x450.jpg");
background-position: center;
-webkit-background-size: cover !important;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.custom-panel-design {
background: linear-gradient( rgba(20, 20, 20, .6), rgba(20, 20, 20, .6)), url("../img/custom-process/3-design/1706x450/Design_1706x450.jpg");
background-position: center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

div[aria-expanded=true] .custom-panel-design {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0));
background-position: center;
}

.custom-panel-design:active {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)) ;
background-position: center;
}

.custom-panel-design:hover {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)), url("../img/custom-process/3-design/1706x450/Design_1706x450.jpg");
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.custom-design-on {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)), url("../img/custom-process/3-design/1706x450/Design_1706x450.jpg");
background-position: center;
-webkit-background-size: cover !important;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.custom-panel-artwork {
background: linear-gradient( rgba(20, 20, 20, .6), rgba(20, 20, 20, .6)), url("../img/custom-process/4-artwork/1706x450/Artwork_1706x450.jpg");
background-position: center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

div[aria-expanded=true] .custom-panel-artwork {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0));
background-position: center;
}

.custom-panel-artwork:active {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)) ;
background-position: center;
}

.custom-panel-artwork:hover {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)), url("../img/custom-process/4-artwork/1706x450/Artwork_1706x450.jpg");
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.custom-artwork-on {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)), url("../img/custom-process/4-artwork/1706x450/Artwork_1706x450.jpg");
background-position: center;
-webkit-background-size: cover !important;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.custom-panel-ordering {
background: linear-gradient( rgba(20, 20, 20, .6), rgba(20, 20, 20, .6)), url("../img/custom-process/5-ordering/1706x450/Ordering_1706x450.jpg");
background-position: center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

div[aria-expanded=true] .custom-panel-ordering {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0));
background-position: center;
}

.custom-panel-ordering:active {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)) ;
background-position: center;
}

.custom-panel-ordering:hover {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)), url("../img/custom-process/5-ordering/1706x450/Ordering_1706x450.jpg");
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.custom-ordering-on {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)), url("../img/custom-process/5-ordering/1706x450/Ordering_1706x450.jpg");
background-position: center;
-webkit-background-size: cover !important;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.custom-panel-production {
background: linear-gradient( rgba(20, 20, 20, .6), rgba(20, 20, 20, .6)), url("../img/custom-process/6-production/1706x450/Production_1706x450.jpg");
background-position: center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

div[aria-expanded=true] .custom-panel-production {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0));
background-position: center;
}

.custom-panel-production:active {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)) ;
background-position: center;
}

.custom-panel-production:hover {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)), url("../img/custom-process/6-production/1706x450/Production_1706x450.jpg");
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.custom-production-on {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)), url("../img/custom-process/6-production/1706x450/Production_1706x450.jpg");
background-position: center;
-webkit-background-size: cover !important;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.custom-panel-delivery {
background: linear-gradient( rgba(20, 20, 20, .6), rgba(20, 20, 20, .6)), url("../img/custom-process/7-delivery/1706x450/Delivery_1706x450.jpg");
background-position: center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

div[aria-expanded=true] .custom-panel-delivery {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0));
background-position: center;
}

.custom-panel-delivery:active {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)) ;
background-position: center;
}

.custom-panel-delivery:hover {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)), url("../img/custom-process/7-delivery/1706x450/Delivery_1706x450.jpg");
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.custom-delivery-on {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)), url("../img/custom-process/7-delivery/1706x450/Delivery_1706x450.jpg");
background-position: center;
-webkit-background-size: cover !important;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.custom-panel-payment {
background: linear-gradient( rgba(20, 20, 20, .6), rgba(20, 20, 20, .6)), url("../img/custom-process/8-payment/1706x450/Payment_1706x450.jpg");
background-position: center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

div[aria-expanded=true] .custom-panel-payment {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0));
background-position: center;
}

.custom-panel-payment:active {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)) ;
background-position: center;
}

.custom-panel-payment:hover {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)), url("../img/custom-process/8-payment/1706x450/Payment_1706x450.jpg");
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.custom-payment-on {
background: linear-gradient( rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)), url("../img/custom-process/8-payment/1706x450/Payment_1706x450.jpg");
background-position: center;
-webkit-background-size: cover !important;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
  .title-text {
  color: #FFFFFF;
  border-style: none;
  font-family: 'TradeGothicLTS';
  font-size: 1.2em;
  display: inline-block;
vertical-align: middle;
line-height: normal;
}

.custom-text-box {
  background-color: #ff671f;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.custom-text-box p {

  text-align: center;

}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .custom-header-image {
    height: 320px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/custom-process/image-intro/400x320/Intro_Custom_Process_400x320.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .custom-panel-sizer{
    height: 200px;
    color: #ff671f;
    line-height: 200px;
text-align: center;
    }
    .custom-title-text {
      font-family: 'TradeGothicLTS' !important;
      font-size: 1.5em;
      width: 100%;
    }
    .open-close-arrow img {
      height: 100px;
      width: auto;
      position: relative;
      bottom: 160px;
    }
    .title-text {
      display: inline-block;
  vertical-align: middle;
  line-height: normal;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .custom-header-image {
    height: 640px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/custom-process/image-intro/800x640/Intro_Custom_Process_800x640.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .custom-title-text {
    font-family: 'TradeGothicLTS' !important;
    font-size: 1.5em;
          width: 100%;
  }
  .open-close-arrow img {
    height: 150px;
    width: auto;
    position: relative;
    bottom: 190px;
  }
  .custom-panel-sizer{
    height: 200px;

    color: #ff671f;
    line-height: 200px;
text-align: center;
    }
    .title-text {
      display: inline-block;
  vertical-align: middle;
  line-height: normal;
    }
}
