.custom-page-header {
	height: 800px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('../img/custom-page/image-intro/2560x800/Intro_Custom_2560x800.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.custom-page-header-content {
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translateX(-50%) translateY(-50%);
}

.custom-header-title {
	font-size: 5.5em;
}
.featured-product {
	margin-top: 1em;
	height: 400px;
	width: auto;
}
.product-links {
	color: #000;
}
.product-links:hover {
	color: #000;
}
.featured-product-featured {
	margin-top: 1em;
	height: 400px;
	width: auto;
}
.custom-header-text-box {
	background-color: #000000;
}

.custom-text-box {
	font-size: 1.3em;
	font-weight: 300;
	color: #ffffff;
	margin-top: 2.3em;
	margin-bottom: 2.3em;
	text-align: center;
	line-height: 1.7;
}
.single-item {
	width: 350px;
	height: auto;
	margin-left: -20px;
}
.custom-product-frame {
	background-color: #ffffff;
}
.jersey-title {
	font-style: none;
	font-weight: bold;
	font-family: 'TradeGothicLTS';
}
@media only screen and (min-device-width: 320px) and (max-device-width: 350px) {
	.custom-product-frame {
		background-color: #ffffff;
		height: 38em;
	}
	.single-item {
		width: 110%;
		margin-left: 0;
	}
}
@media only screen and (min-device-width: 350px) and (max-device-width: 480px) {
	.custom-product-frame {
		background-color: #ffffff;
		height: 43em;
	}
	.single-item {
		width: 60%;
		margin-left: 0;
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.custom-product-frame {
		background-color: #ffffff;
		height: 79em;
	}
	.single-item {
		width: 60%;
		margin-left: 0;
	}
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1025px) {
	.custom-product-frame {
		background-color: #ffffff;
		height: 90em;
	}
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1200px) {
	.custom-product-frame {
		background-color: #ffffff;
	}
}
@media only screen and (min-device-width: 1600px) and (max-device-width: 1800px) {
	.custom-product-frame {
		background-color: #ffffff;
	}
}
@media only screen and (min-device-width: 1800px) and (max-device-width: 2200px) {
	.custom-product-frame {
		background-color: #ffffff;
	}
}
@media only screen and (min-device-width: 2200px) and (max-device-width: 2400px) {
	.custom-product-frame {
		background-color: #ffffff;
	}
}
@media only screen and (min-device-width: 2400px) and (max-device-width: 2600px) {
	.custom-product-frame {
		background-color: #ffffff;
	}
}
.product-frame-title {
	color: #000000;
	text-align: center;
	margin-top: .5em;
}

.product-box-menu-title {
	color: #000000;
	margin-right: 35px;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Montserrat, sans-serif !important;
	font-style: normal;
	font-size: 1.1em;
}

.product-box-menu-title:hover {
	color: #ff671f;
	background-color: transparent;
}

li.active h1 {
	color: #ff671f !important;
	background-color: transparent !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

ul.product-box-menu-list {
	display: block;
	text-align: center;
	list-style: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 10px;
}
.main-custom-tabs {
	margin-bottom: 20px !important;
}
.main-custom-container {
	margin-bottom: 6em;
}
ul.product-box-menu-list li {
	display: inline-block;
}

.featured-product {
	margin-top: 1em;
	height: 400px;
	width: auto;
}

.product-link {
	text-align: center;
	margin-bottom: 3em;
	margin-top: 2em;
}

.view-product {
	font-size: .75em;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: 2px solid;
	border-color: #000000;
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.view-product:hover {
	color: #000000;
}

.featured-product-box {
	margin-left: auto;
	margin-right: auto;
	/*margin-top: 5px;*/
	text-align: center;
}

li.active h1 {
	background-color: #ff671f;
	color: #ffffff;
	padding-top: 5px;
	padding-left: 7px;
	padding-right: 7px;
}

.featured-product-box img:hover {
	opacity: .8;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	.custom-page-header {
		height: 320px;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url('../img/custom-page/image-intro/400x320/Intro_Custom_400x320.jpg');
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.custom-page-header-content {
		position: absolute;
		top: 50%;
		left: 40%;
		transform: translateX(-50%) translateY(-50%);
	}
	.custom-header-title {
		font-size: 2em;
	}
	.featured-product {
		margin-top: 1em;
		height: 200px;
		width: auto;
	}

	.featured-product-featured {
		margin-top: 1em;
		height: 200px;
		width: auto;
	}
	.product-box-menu-title {
		margin-right: 0;
	}
	ul.product-box-menu-list li {
		display: inline-block;
		text-align: center;
		margin-right: 10px;
	}
}
/*.fade {
   opacity: 0;
   -webkit-transition: opacity 1s linear;
      -moz-transition: opacity 1s linear;
       -ms-transition: opacity 1s linear;
        -o-transition: opacity 1s linear;
           transition: opacity 1s linear;
 }*/
.tab-content > .tab-pane:not(.in) {
	display: block !important;
	height: 0 !important;
}
.product-container {
	height: 500px;
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1500px) {
	.custom-page-header {
		height: 640px;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url('../img/custom-page/image-intro/2560x800/Intro_Custom_2560x800.jpg');
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}
