/* FOOTER CSS */
/* JOIN MILLTAG FOOTER */

.join-milltag-list {
  text-align: center;
}

.media-spacer {
  display: none;
}

.milltag-join-button {
  background-color: #ff671f;
  color: #FFFFFF;
  font-size: 1em;
  border-style: none;
  font-family: Montserrat, sans-serif;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 3px;
}
.milltag-join-email {
  background-color: #000000;
  border-style: solid;
  border-color: #888B8D;
  border-width: thin;
  font-size: 1em;
  font-family: Montserrat, sans-serif;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  /*-webkit-transition: all 0.30s ease-in-out;
-moz-transition: all 0.30s ease-in-out;
-ms-transition: all 0.30s ease-in-out;
-o-transition: all 0.30s ease-in-out;*/
/*-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;*/
}
.milltag-join-email:focus {
  border-color: #ff671f;
  border-style: solid;
  border-width: thin;
  outline: 1px solid #888B8D;
  color: #888B8D;
}
.milltag-join-button:hover {
  background-color: #E55815;
}
@media all and (max-width: 900px) {
  .milltag-join-email {
    width: 90%;
    text-align: center;
    margin-bottom: 3px;
    font-weight: 300;
  }
  .milltag-join-button{
      width: 90%;
      text-align: center;
      margin: 0 auto;
  }
  .media-spacer {
  display: block;
  margin-bottom: 1em;
}
}


.join-milltag-box {
  background-color: #000000;
  margin-top: 1.75em;
}

h3.join-footer-text {
  color: #FFFFFF;
  font-family: Montserrat, sans-serif;
  font-size: 1.2em;
  margin-right: 15px;

}
/* BOTTOM FOOTER LINKS */

h1.footer-title {
  color: #FFFFFF;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 0.9em;
}

.footer-links {
  color: #888B8D;
  font-size: 0.9em;
  text-decoration: none;
  padding-bottom: 2em;
  margin-top: 20px;
  font-weight: 300;
  font-family: Montserrat, sans-serif;
}

.footer-links:hover {
  color: #FFFFFF !important;
  text-decoration: none !important;
}

.footer-links:focus {
  color: #FFFFFF !important;
  text-decoration: none !important;
}

.social-media-bar {
  list-style-type: none;
  float: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  margin-top: 20px;
}

.social-media-icons {
  text-align: center;
  padding-right: 0.5em;
  display: inline;
}

.social-media-links {
  display: inline-block !important;
  text-align: center;
  text-decoration: none;
  color: #888B8D;
  font-size: 1.7em;
  display: inline-block;
}

.social-media-links:focus {
  color: #FFFFFF text-decoration: none !important;
}

.social-media-links:hover {
  color: #FFFFFF;
  text-decoration: none !important;
}

.address-link {
  color: #888B8D;
  font-weight: 300;
  font-family: Montserrat, sans-serif;
  font-size: 0.9em;
}
.copyright-text{
  font-family: Montserrat, sans-serif;
  margin-bottom: 1.5em;
  text-align: right;
  font-size: .8em;
  color: #888B8D;
}
.footer-links-container {
  padding-top: 1.5em;
  padding-bottom: 3em;
}
.mce_inline_error {

}
