/* Masonry */

.grid-links {
  color: #ffffff;
}

.grid-links:hover {
  color: #FFFFFF;
}


.text-grid-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.grid-text {
  font-size: 6em;
}

.grid-top-left {
  height: 900px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../img/home-page/bouton-shop/854x900/Shop_854x900.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-top-left:hover {
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("../img/home-page/bouton-shop/854x900/Shop_854x900.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 900px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.grid-top-right {
  background-image: url('../img/home-page/bouton-custom/1706x450/Custom_1706x450.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-top-right:hover {
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url('../img/home-page/bouton-custom/1706x450/Custom_1706x450.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-bottom-right {
  background-image: url('../img/home-page/bouton-about/854x450/About_854x450.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-bottom-right:hover {
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("../img/home-page/bouton-about/854x450/About_854x450.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-bottom-left {
  background-image: url('../img/home-page/bouton-studio/854x450/Studio_854x450.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-bottom-left:hover {
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("../img/home-page/bouton-studio/854x450/Studio_854x450.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .grid-top-left {
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/home-page/bouton-shop/400x250/Shop_400x250.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-top-left:hover {
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/home-page/bouton-shop/400x250/Shop_400x250.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-top-right {
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/home-page/bouton-custom/400x250/Custom_400x250.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-top-right:hover {
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/home-page/bouton-custom/400x250/Custom_400x250.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-bottom-left {
    background-image: url('../img/home-page/bouton-studio/400x250/Studio_400x250.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-bottom-left:hover {
  background-image: url('../img/home-page/bouton-studio/400x250/Studio_400x250.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 250px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  .grid-bottom-right {
    background-image: url('../img/home-page/bouton-about/400x250/About_400x250.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-bottom-right:hover {
    background-image: url('../img/home-page/bouton-about/400x250/About_400x250.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.grid-text {
  font-size: 4.5em;
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .grid-text {
    font-size: 4em;
}
.grid-top-left {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../img/home-page/bouton-shop/800x450/Shop_800x450.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.grid-top-left:hover {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../img/home-page/bouton-shop/800x450/Shop_800x450.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.grid-top-right {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../img/home-page/bouton-custom/800x450/Custom_800x450.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.grid-top-right:hover {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../img/home-page/bouton-custom/800x450/Custom_800x450.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.grid-bottom-left {
  background-image: url('../img/home-page/bouton-studio/800x450/Studio_800x450.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.grid-bottom-left:hover {
background-image: url('../img/home-page/bouton-studio/800x450/Studio_800x450.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
height: 450px;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.grid-bottom-right {
  background-image: url('../img/home-page/bouton-about/800x450/About_800x450.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.grid-bottom-right:hover {
  background-image: url('../img/home-page/bouton-about/800x450/About_800x450.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}
@media only screen and (min-width : 1024px) and (max-width : 1025px) {
    .grid-top-left {
      height: 900px;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url('../img/home-page/bouton-shop/854x900/Shop_854x900.jpg');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
    .grid-top-left:hover {
      height: 900px;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url('../img/home-page/bouton-shop/854x900/Shop_854x900.jpg');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  .grid-top-right {
    height: 450px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/home-page/bouton-custom/800x450/Custom_800x450.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-top-right:hover {
    height: 450px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/home-page/bouton-custom/800x450/Custom_800x450.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-bottom-left {
    background-image: url('../img/home-page/bouton-studio/800x450/Studio_800x450.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 450px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-bottom-left:hover {
    background-image: url('../img/home-page/bouton-studio/800x450/Studio_800x450.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 450px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-bottom-right {
    background-image: url('../img/home-page/bouton-about/800x450/About_800x450.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 450px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-bottom-right:hover {
    background-image: url('../img/home-page/bouton-about/800x450/About_800x450.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 450px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-text {
    font-size: 4.5em;
  }
  }
