/* LARGE MENU */

.menu-format {
  padding-top: 1em;
  padding-bottom: 3em;
  position: relative;
}
.main-menu {
}
.menu-format ul, .menu-format li {
  display: inline;
}

.menu-logo {
  height: 2.4em;
  float: left;
  position: absolute;
}
.menu-mover {
  float: right;
  text-align: right;
  position: absolute;
  top: 1.4em;
  right: .1em;
  /*position: relative;
  top: 50%;
 transform: translateX(-50%) translateY(-50%);*/
}
.menu-link {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 0.9em;
  font-weight: normal;
  padding-left  : 2em;
}

.menu-link:hover {
  color: #888B8D;
  background-color: #000000;
}
.menu-highlight {
  color: #888B8D !important;
}
.menu-link:focus {
  color: #888B8D;
}
/*SMALL MENU */

.menu-small {
  display: none;
}
.drop-style li{
  display: flex;
  width: 200px;
  padding-top: 20px;

}
.drop-link {
  text-align: center;
}
@media all and (max-width: 850px) {
  .main-menu {
    display: none;
  }
  .menu-small {
    display: block;
  }
  .menu-small-button {
    height: 15px;
  }
  .menu-button-container {
    position: absolute;
    margin: 0 auto;
    margin-left: 1em;
  }
  .menu-button {
    height: 10px;
    left: 1.5em;
    top: 1.5em;
  }
  .menu-small-logo {
    height: 1.8em;
    display: block;
    margin: 0 auto;
  }
  .menu-header-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .menu-list-small {
    display: block;
    text-align: center;
  }
  .menu-link-small {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
  }
  .menu-link-small:hover {
    color: #888B8D;
  }
  .menu-small ul {
    margin: 0;
    padding: 15px 0px;
  }
  .menu-small li {
    list-style-type: none;
    padding: 15px 0px;
  }
}
.drop-style {
  width: 50px;
  background-color: #000;
  padding-right: 10px;
  padding-left: 20px;
  text-align: center;
}
