.privacy-main p {
  font-weight: 300;
}
.privacy-main h1 {
     font-family: 'TradeGothicLTS';
     color: #000000;
}
.privacy-main {
  background-color: #FFFFFF;
  padding-top: 15% !important;
  padding-bottom: 15% !important;
}
