.white-container {
  background-color: white;
}
h3 {
  color: #000000;
  text-align: left;
  font-size: 1em;
  font-weight: bold;
}
h5 {
  font-size: 3.5em;
}
.table-format-five tr th {
  text-align: center;
  border-left: 5px;
  border-style: solid;
  border-color: #ffffff;
  width: 20%;
  height: 40px;
}
.table-format-seven tr th {
  text-align: center;
  border-left: 5px;
  border-style: solid;
  border-color: #ffffff;
  width: 14.5%;
  height: 40px;
}
.darken {
  background-color: #d9d9d6;
}
.table-title {
  background-color: #ff671f;
  color: #ffffff;
}
.unbold {
font-weight: normal;
}
.table-header{
  width: 100%;
  background-color: #ff671f;
  color: #FFFFFF;
  padding-left: 40px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
  border-left: 5px;
  border-style: solid;
  border-color: #ffffff;

}
p {
  font-size: 1.3em;
  line-height: 1.7;
}
img {
  margin-top: 20px;
}
